
/*
font-family: 'Mitr', sans-serif;
*/
/*General*/
h1,h2,p,ul,li,a{
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif;
}
a{
    text-decoration: none;
    color: black;
    display: block;
}

section{
    margin-top: 30px;
    text-align: center;
}

ul{
    list-style: none;
}

/* Hearder*/
header{
    height: 80px;
    overflow: hidden;
}
.header_info {
    background-color: #BCE6FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    height: 65%;
}
.header_info h1{
    font-weight: normal;
    font-style: italic;
}
.header_info nav{
    display: flex;
}
.header_info nav a{
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_info nav a > img{
    width: 30px;
    margin-left: 15px;
}
.header_barra {
    height: 50%;
}
.header_barra img{
    transform: rotate(180deg);
    transform: rotateX(180deg);
}

/** Main **/
/** acerca de **/
main{
    width: 900px;
    margin: 0 auto;
}

.acerca{
    display: flex;
    height: 200px;
}

.acerca div{
    flex-basis: calc(50% - 1rem);
}

.acerca_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.acerca_info h2{
    color: #53A6D8;
    font-style: normal;
    margin-bottom: 15px;
}

.acerca_img{
    overflow: hidden;
    text-align: center;
}
.acerca_img img{
    width: 80%;
    height: 100%;
}

/** Habilidades**/
.habilidades{
    display: flex;
    justify-content: space-evenly;
}
.habilidades_card{
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 300px;
    
    text-align: center;
    border-radius: 25px;
}

.habilidades_card > img{
    margin: 15px 0;
    width: 64px;
}

.habilidades_card_info ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.habilidades_card_info ul li{
    flex-basis: calc(50% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.habilidades_card_info > ul li img{
    width: 25px;
    margin-left: 10px;
}

/** Contactame **/
.contactame{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactame > div{
    flex-basis: calc(50% - 1rem);
}

.contactame_card_texto{
    line-height: 25px;
}

.contactame_card_texto h2{
    margin-bottom: 15px;
}

.contactame_img img{
    width: 100%;
}

.contactame_card{
    border-radius: 25px;
    box-shadow: 0 3px 6px #ccc, 0 3px 6px #5555;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F4FBFF;   
}

.contactame_card_social{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

.contactame_card_social a img,
#gmail img{
    width: 35px;
}

#gmail{
    cursor: pointer;
}

.muestra,.no_mostrar{
    background-color: #d32e2a;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: moverderecha 1s ease-in-out;
}

@keyframes moverderecha {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
.muestra > .boton,
.no_mostrar > .boton{
    border-radius: 15px;
    background-color: rgb(60, 230, 230);
    padding: 2px 4px;
    transition: all 1s ease;
    cursor: pointer;
    animation: visibilidad 2s ease;
}
.muestra > .boton:hover{
    background-color: rgb(55, 201, 201);
}
.muestra p,
.no_mostrar p{
    color: wheat;
    animation: visibilidad 2s ease;
}
@keyframes visibilidad {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

.no_mostrar{
    animation: desaparecer 1s ease-in-out;
}
.no_mostrar > .boton{
    animation: invisibilidad 1s ease;
}
.no_mostrar > p{
    animation: invisibilidad 1s ease;
}
@keyframes desaparecer {
    from{
        width: 100%;
    }
    to{
        width: 0%;
    }
}

@keyframes invisibilidad {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
}
/** footer **/
footer{
    background-image: url("src/footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 15px;
    margin-top: 25px;
}
footer span{
    color: #8E8E8E;
}